---
title : "the BEST Personal Finance Manager for FREE Users, full stop."
layout: default
---

<style>
#home-available {
  background-color: rgba(61,174,233, 0.1);
}
#kHeader {
  background-image: url(/assets/img/gnome-336-wallpaper.jpg)
}
.citation-text {
  font-size: 20px;
}
.citation:nth-child(odd) img {
  order: 2;
}
.baguette {
  background: url(/assets/img/baguette.png) repeat-x;
  background-size: contain;
  height: 30px;
}
.unicorn {
  background: url(/assets/img/Emojione_1F984.svg) repeat-x;
  background-size: contain;
  height: 30px;
}
.gnomekde {
  font-size: 70px;
}
.gnomelogo, .kdelogo {
  width: 200px;
  height: auto;
}
.knomelogo {
  width: 800px;
  height: auto;
  margin-top: 100px;
}
.blue {
  background-color: #0079d8;
  color: white;
  font-size: 30px;
  padding: 100px 20px;
}

.blue p {
  max-width: 900px;
}

.blue h1 {
  font-size: 50px;
}
</style>


<section id="kHeader" class="carousel mb-0">
  <div class="carousel-item active">
    <div class="carousel-item-content pl-4 pr-4">
      <div class="slide-background" style="background-image: url(/assets/img/knome.png)"></div>
      <div class="carousel-text-overlay p-relative" >
        <h1>Knome</h1>
        <p style="text-shadow: black 2px 2px 5px;">The next operating system for your computer</p>
        <a class="button learn-more mb-3 mt-3" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="button">Download</a>
      </div>
    </div>
  </div>
</section>

<main>
  <section class="container">
    <div class="d-flex justify-content-around gnomekde align-items-center">
      <img class="gnomelogo" src="https://upload.wikimedia.org/wikipedia/commons/6/68/Gnomelogo.svg" />
      +
      <img class="kdelogo" src="/assets/img/kde-logo-bluegradient-w-slug-vectorized.svg" />
    </div>
    <div class="d-flex justify-content-around gnomekde align-items-center">
      <img class="knomelogo" src="/assets/img/knome.svg" />
    </div>
  </section>

  <div class="unicorn my-5"><span class="sr-only">Seperator using image of unicorn</span></div>

  <section class="container">
    <h2 class="mt-4">The Immediacy of Now</h2>
    <p>Now is the moment immediately happening. That is why KNOME will be on your desktop now. Or some time next week. This state-o-fart user-experience will transport you to the future of user experiences, not in the future. But now. Immediately. Or next week.</p>
    <a class="button learn-more" href="http://www.tinytuba.com/">Learn more</a>

    <h2 class="mt-4">Addressing Empowered Entitlement</h2>
    <p>Users are entitled and the empowerment via the KNOME desktop environment powers environmentally that entitlement. The synergies between FLOSS communities provides empowered entitlement to user-powered environments through environmentally empowered desktops.</p>
    <a class="button learn-more" href="http://www.hardcoreprawnlawn.com/">Learn more</a>

    <h2 class="mt-4">Convergent UAC made Simple</h2>
    <p>With Knome DE the convergency of UAC FWs is baked into the UIX. Via JSON-enabled ITPs, all APPs converge in one single API, allowing for better IDE experiences, guaranteeing faster DWFs and better QC checks.</p>
    <a class="button learn-more" href="http://www.iamaturtle.org/">Learn more</a>

    <h2 class="mt-4">KNOME: Leadership through Synergy</h2>
    <p>KNOME is conceived with one purpose in mind: To create a best-of-breed cross-platform fintech  deployment blockhain-enabled DE to specifically support the automation of popular cross-platform GUI frameworks leveraging QTK frameworks.</p>
    <a class="button learn-more" href="http://www.bouncingdvdlogo.com/">Learn more</a>
  </section>

  <div class="baguette my-5"><span class="sr-only">Seperator using image of baquette</span></div>

  <section class="container">
    <h2>Quotes</h2>
    <div class="citation my-5 d-flex align-items-center">
      <img class="img-fluid author mr-3" src="/assets/img/apol.jpg" style="width: 400px"/>
      <div class="citation-text">
        "A joint conference was only the beginning. KNOME, QTK3, Krimp, Lollyrok... the possibilities for shared development are now limitless",<br />
        Aleix Pol, president of KDE e.V. and a co-founder of Linux App Summit
      </div>
    </div>
    <div class="citation my-5 d-flex align-items-center">
      <img class="img-fluid author mr-3" src="https://www.gnome.org/wp-content/uploads/2019/07/neil-mcgovern-gnome-ed-square.png" />
      <div class="citation-text">
        "We see ending desktop fragmentation as the key to Linux success [...] Feeling united and utterly bored in these hard times also contributed to our decision to merge the projects", <br />
         Neil McGovern, Executive Director of the GNOME Foundation
      </div>
    </div>
  </section>

  <section class="blue">
    <h1>:)</h1>
    <p>With the combination of the expertise of both GNOME and KDE developers, we reduced the number of bugs to 0<p>
  </section>

  <img class="w-100" src="/assets/img/ram.svg">

  <div class="container">
    <a class="button w-100 learn-more mb-3 mt-3 d-flex align-items-center justify-content-center" style="height: 200px; font-size: 70px;" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="button">Download</a>
  </div>
</main>
<script>
const button = document.getElementById('button');

function foo()
{
    var randX = Math.floor(Math.random() * (window.innerWidth - 150));
    var randY = Math.floor(Math.random() * (window.innerHeight - 100));
    console.log(randX, randY);
    button.style.position = "absolute";
    button.style.left = randX + "px";
    button.style.top = randY + "px";
}

button.addEventListener('mouseenter', foo);
</script>
