<footer id="kFooter" class="footer">
    <section id="kLinks" class="container">
        <div class="row">
            <nav class="col-sm">
                <h3>Gommunity</h3>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Forums</a>
            </nav>

            <nav class="col-sm">
                <h3>KNews &amp; Kress</h3>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Announcements</a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">KDE.news</a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Planet KDE</a>
            </nav>
        </div>
    </section>
</footer>
